{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
                <h1><span style="font-size: 12pt; color: #800000;">Intake Details</span></h1>
            <p>&nbsp;</p>
            <div>
            <h3 style="color: rgb(3, 92, 59); font-size:medium">Present UG Level Intake Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #0000ff;">College Code: 411</span></h3>
            
            <div>&nbsp;</div>
            <table style="width: 37.3rem;" border="1" cellspacing="1" cellpadding="0" align="center">
            <tbody>
            <tr>
            
            <td valign="top" width="65%"><strong>Branch</strong></td>
            <td valign="top" width="34%"><strong>Sanctioned Intake</strong></td>
            </tr>
            
            <tr>
            <td>Civil Engineering</td>
            <td>60</td>
            </tr>
            
            <tr>
            <td>Computer Science &amp; Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Electrical and Electronics Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Electronics and Communication Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Mechanical Engineering</td>
            <td>60</td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
            <p style="width: 655px;">Lateral entry: There is a provision to admit 20% of intake in each branch directly into B.Tech II year. Candidates with a diploma or B.Sc. qualification are admitted through Convenor ECET after qualifying in ECET entrance examination.</p>
            <h3 style="color: rgb(3, 92, 59); font-size:medium">PG Courses and Intake Details</h3>
            <table border="1" cellspacing="1" cellpadding="0" align="center">
            <tbody>
            <tr>
            <td valign="top" width="65%"><strong>Programme</strong></td>
            <td valign="top" width="34%"><strong>Sanctioned Intake</strong></td>
            </tr>
            <tr>
            <td>MBA (Master of Business Administration)</td>
            <td>60</td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
            <h3 style="color: rgb(3, 92, 59); font-size:medium">Diploma Courses and Intake Details</h3>
            <table border="1" cellspacing="1" cellpadding="0" align="center">
            <tbody>
            <tr>
            <td valign="top" width="65%"><strong>Programme</strong></td>
            <td valign="top" width="34%"><strong>Sanctioned Intake</strong></td>
            </tr>
            <tr>
            <td>Civil Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Mechanical Engineering</td>
            <td>60</td>
            </tr>
            </tbody>
            </table>
            <h3>&nbsp;</h3>
            </div>
            
            
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}