{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
            
            
                <h3>Chairman</h3>
                <p><span style="font-size: 12pt; color: #800000;">Mr.Haji Mohd. Ahmad Ansari </span></p>
            <p>&nbsp;</p>
            <p><img src="https://hmfamiet.in/images/chairman/chairman.jpg" alt="Mr.Haji Mohd. Ahmad Ansari 
            " width="500" height="319" style="display: block; margin-left: auto; margin-right: auto; border: 2px solid #1f5c35;"></p>
            <p><span style="font-size: 11pt; line-height: 115%; font-family: Calibri, sans-serif;">In this millennium, world is characterized by technology and constant change. In order to survive and perform successfully in the modern day competitive environment, we have to constantly adapt to innovation and be prepared to update knowledge and skills through continuous learning all the time. At HMFA, we produce professionals who have the optimum mix of attitude, skill and knowledge to adopt themselves to the verging trends with confidence and pursue their chosen professions with comfort.</span></p>
            <p><span style="font-size: 11pt; line-height: 115%; font-family: Calibri, sans-serif;">We endeavor to ensure that every student's needs and expectations are fulfilled, thus enhancing the ability to acquire and apply knowledge. Our highly professional and dedicated faculty drawn from academia and industry possess impressive credentials, a missionary zeal in teaching and are involved in shaping careers at HMFA Memorial Institute of Engineering and Technology . So come and join our growing community of self-confident young scholars.</span></p>
            <p>&nbsp;</p>
            <p>
            
            </p><p>&nbsp;</p>
            <p><span style="font-size: 12pt; color: #800000;"><strong>Functions:</strong></span></p>
            <p>&nbsp;</p>
            <ul>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Designs and defines the organization’s structure.</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Defines and delegates responsibilities of various positions in the organization </span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Ensures periodic monitoring &amp; evaluation of various processes &amp; sub- processes</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Looks after the overall development of institute</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Mobilizes external resources to strengthen the institute</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Plans &amp; provides for necessary facilities / equipment for development.</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Instills confidence and devotion in every member of the College</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Ensures effective purchase procedure is followed</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Defines quality policies and objectives</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Prepares annual budget</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Conducts periodic meeting of various bodies such as Governing Body, College Academic Council, and Grievances Redressal Committee, etc.</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;">Manages accounts and finance</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-size: 10pt; font-family: 'Trebuchet MS', sans-serif;"></span><span style="font-family: 'Trebuchet MS', sans-serif; font-size: 10pt;">Manages employee recruitment process</span></li>
            </ul>
            
            
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}