{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
            
                <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;">
            <table style="border: 2px solid #008080;" border="2">
            <tbody>
            <tr>
            <td style="text-align: center; width:40.5rem;" colspan="2">
            <div><strong style="color: #800000; font-size: 10pt;"><span style="font-family: 'trebuchet ms', geneva;">HMFA Memorial Institute of Engineering &amp; Technology</span></strong></div>
            <div><strong style="color: #800000; font-size: 10pt;"><span style="font-family: 'trebuchet ms', geneva;">Contact Us</span></strong><span style="font-weight: bold;">&nbsp;</span></div>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;">&nbsp;</span></div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="font-family: Arial, sans-serif;"><span style="font-size: 14px; background-color: #9bbb59;">CAMPUS ADDRESS:</span></span></div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="font-family: Arial, sans-serif;"><span style="font-size: 14px; background-color: #9bbb59;"><br></span></span></div>
            <div><strong>HMFA Memorial Institute of Engineering &amp; Technology</strong></div>
            <div><strong> Karari Bhadaily, Handia,Allahabad &nbsp;</strong></div>
            <div><strong>  40 km away from Allahabad, &nbsp;</strong></div>
            <div><strong>Prayagraj-221503&nbsp;</strong></div>
            <div><strong>PHONE: +91 7607004611</strong></div>
            <div><strong>PHONE: +91 7607004612</strong></div>
            <div><strong>PHONE: +91 9389615009</strong></div>
            <div><strong>WEBSITE: hmfamiet.in</strong></div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="font-family: Arial, sans-serif;"><span style="font-size: 14px; background-color: #9bbb59;"><br></span></span></div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="font-family: Arial, sans-serif;"><span style="font-size: 14px; background-color: #9bbb59;">CITY OFFICE:</span></span></div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="font-family: Arial, sans-serif;"><span style="font-size: 14px; background-color: #9bbb59;"><br></span></span></div>
            <div><strong>HMFA Memorial Institute of Engineering &amp; Technology</strong></div>
            <div><strong> 85/47 C Y Chintamani road  &nbsp;</strong></div>
            <div><strong> George Town(near George Town Police station) &nbsp;</strong></div>
            <div><strong>Prayagraj-221102&nbsp;</strong></div>
            <div><strong>PHONE: +91 7607004613</strong></div>
            <div><strong>PHONE: +91 9389615009</strong></div>
            <div><strong>WEBSITE: hmfamiet.in</strong></div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="font-family: Arial, sans-serif;"><span style="font-size: 14px; background-color: #9bbb59;"><br></span></span></div>
            <table class="MsoTableMediumShading1Accent3" style="width: 276px; border-collapse: collapse; border: none;" border="1" cellspacing="0" cellpadding="0">
            <tbody>
            <tr style=" height: 15.35pt;">
            <td style="width: 206.85pt; border: solid #B3CC82 1.0pt; background: #9BBB59; padding: 0in 5.4pt 0in 5.4pt; height: 15.35pt;" valign="top" nowrap="nowrap" width="276">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; "><strong><span style="font-size: 10.5pt; font-family: 'Arial','sans-serif'; color: #333333;">CHAIRMAN OFFICE</span></strong></p>
            </td>
            </tr>
            <tr style="height: 15.35pt;">
            <td style="width: 206.85pt; border: solid #B3CC82 1.0pt;  border-top: none; background: #E6EED5; padding: 0in 5.4pt 0in 5.4pt; height: 15.35pt;" valign="top" nowrap="nowrap" width="276">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; "><strong>Mr.Haji Mohd. Ahmad Ansari</strong></p>
            </td>
            </tr>
            <tr style=" height: 15.35pt;">
            <td style="width: 206.85pt; border: solid #B3CC82 1.0pt; border-top: none; background: #E6EED5;  padding: 0in 5.4pt 0in 5.4pt; height: 15.35pt;" valign="top" nowrap="nowrap" width="276">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; "><strong><span style="text-decoration: underline;"><span style="color: blue; text-decoration: underline;">Email: <span style="color: #0000ff; text-decoration: underline;">chairman@hmfamiet.in
            </span></span></span></strong></p>
            </td>
            </tr>
            <tr style="height: 15.35pt;">
            <td style="width: 206.85pt; border: solid #B3CC82 1.0pt; border-top: none; background: #E6EED5; padding: 0in 5.4pt 0in 5.4pt; height: 15.35pt;" valign="top" nowrap="nowrap" width="276">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; "><strong><span style="text-decoration: underline;"><span style="color: blue; text-decoration: underline;">Mobile No: 9415218980</span></span></strong></p>
            </td>
            </tr>
            </tbody>
            </table>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;">
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><br>
            <table style="font-family: Arial, Helvetica, sans-serif; width: 282px; border-collapse: collapse; border: none;" border="1" cellspacing="0" cellpadding="0">
            <tbody>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border: 1pt solid #b3cc82; background: #9bbb59; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="color: #333333; font-family: Arial, sans-serif;"><span style="font-size: 13.3333px;"><strong>MANAGING DIRECTOR</strong></span></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; background: #e6eed5; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong> Mr. Zishan Ahmad </strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="color: blue;">Email: md@hmfamiet.in
             </span></strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="color: blue;">Mobile No: 9307018072</span></strong></span></p>
            </td>
            </tr>
            </tbody>
            </table>
            <br>
            <table style="width: 282px; border-collapse: collapse; border: none;" border="1" cellspacing="0" cellpadding="0">
            <tbody>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border: 1pt solid #b3cc82; background: #9bbb59; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 10pt;"><strong><span style="font-family: Arial, sans-serif; color: #333333;">DIRECTOR OFFICE</span></strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; background: #e6eed5; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong>Mr. Md. Tariq</strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="color: blue;">Email: director@hmfamiet.in
             </span></strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="color: blue;">Mobile No: 7607004612</span></strong></span></p>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;">&nbsp;</div>
            </div>
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;">
            <table style="font-family: Arial, Helvetica, sans-serif; width: 282px; border-collapse: collapse; border: none;" border="1" cellspacing="0" cellpadding="0">
            <tbody>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border: 1pt solid #b3cc82; background: #9bbb59; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 10pt;"><strong><span style="font-family: Arial, sans-serif; color: #333333;">ADMISSION CELL</span></strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; background: #e6eed5; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong>Mr. Jay Shankar Tiwari</strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="color: blue;">Email: admission@hmfamiet.in
             </span></strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border-right: 1pt solid #b3cc82; border-bottom: 1pt solid #b3cc82; border-left: 1pt solid #b3cc82; border-top: none; padding: 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="color: blue;">Mobile No: 7607004613</span></strong></span></p>
            </td>
            </tr>
            </tbody>
            </table>
            <br>
            <table class="MsoTableMediumShading1Accent3" style="width: 282px; border-collapse: collapse; border: none;" border="1" cellspacing="0" cellpadding="0">
            <tbody>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border: solid #B3CC82 1.0pt; background: #9BBB59; padding: 0in 5.4pt 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal;"><span style="font-size: 10pt;"><strong><span style="font-family: Arial, sans-serif; color: #333333;">EXAMINATION CELL</span></strong></span></p>
            </td>
            </tr>
            <tr style=" height: 14.5pt;">
            <td style="width: 211.4pt; border: solid #B3CC82 1.0pt;border-top: none; background: #E6EED5; padding: 0in 5.4pt 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; "><span style="font-size: 8pt;"><strong>Mr. Om Jeet Singh</strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border: solid #B3CC82 1.0pt; border-top: none;  padding: 0in 5.4pt 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal; "><span style="font-size: 8pt;"><strong><span style="text-decoration: underline;"><span style="  color: blue;">Email: exam@hmfamiet.in
            </span></span></strong></span></p>
            </td>
            </tr>
            <tr style="height: 14.5pt;">
            <td style="width: 211.4pt; border: solid #B3CC82 1.0pt; border-top: none;  padding: 0in 5.4pt 0in 5.4pt; height: 14.5pt;" valign="top" nowrap="nowrap" width="282">
            <p class="MsoNormal" style="margin-bottom: .0001pt; line-height: normal;"><span style="font-size: 8pt;"><strong><span style="text-decoration: underline;"><span style=" color: blue;"><strong style="background-color: #e6eed5;"><span style="color: blue;">Mobile No: 9389615009</span></strong></span></span></strong></span></p>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            
            
            
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}