{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
                <h5 style="color: rgb(9, 73, 99);">Courses Offered</h5>
            <p>&nbsp;</p>
            <h5 style="color: rgb(9, 73, 99);">Present UG Level Intake Details</h5>
            <h2>&nbsp;</h2>
            <table style="margin-left:5px; width: 91%;" align="center" border="1" cellpadding="0" cellspacing="1">
            <tbody>
            <tr>
            <td valign="top" width="65%">Present UG Level Intake Details Branch</td>
            <td valign="top" width="34%">No.Of Seats</td>
            </tr>
            <tr>
            <td>Civil Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Computer Science Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Electronics and Communication Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Electrical and Electronics Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Mechanical Engineering</td>
            <td>60</td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
            <p style="width:650px">Lateral entry: There is a provision to admit 10% of intake in each branch directly onto BE II year . Candidates with diploma or B.Sc. qualification are admitted through Convenor ECET after qualifying in ECET entrance examination.</p>
            <p>&nbsp;</p>
            
            <h4 style="color: rgb(9, 73, 99);">Present PG Level Intake Details</h4>
            <table style="margin-left:5px; width: 91%;" align="center" border="1" cellpadding="0" cellspacing="1">
            <tbody>
            <tr>
            <td valign="top" width="65%">Present PG Level Intake Details Branch</td>
            <td valign="top" width="34%">No.Of Seats</td>
            </tr>
            <tr>
            <td>MBA (Master of Business Administration)</td>
            <td>60</td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
            
            <h2>Present Diploma Level Intake Details</h2>
            <table style="margin-left:5px; width: 91%;" align="center" border="1" cellpadding="0" cellspacing="1">
            <tbody>
            <tr>
            <td valign="top" width="65%">Present Diploma Level Intake Details Branch</td>
            <td valign="top" width="34%">No.Of Seats</td>
            </tr>
            <tr>
            <td>Polytechnic in Civil Engineering</td>
            <td>60</td>
            </tr>
            <tr>
            <td>Polytechnic in Mechanical Engineering</td>
            <td>60</td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            
            
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}