{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
            
                <h1 style="text-align: center;"><span style="color: #008080; font-family: 'trebuchet ms', geneva;">Department of Civil Engineering</span></h1>
                
                <div style="clear: both"></div><p></p>
            
            <table style="width: 650px;">
            <tbody >
            <tr>
            <td>
            <div id="contentLYR1">&nbsp;<strong style="text-align: justify;"><span style="font-family: Arial, sans-serif; line-height: 150%; font-size: 12pt;">Civil Engineering Department at a glance:</span></strong></div>
            <p style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, sans-serif; font-size: 10pt;">Civil Engineering is a core field of engineering which deals with entire infrastructure that includes Buildings, Water supply and Sanitation, Irrigation facilities and Transportation facilities. The academic program includes Planning, Analysis, Design and maintenance of the above infrastructural components.</span></p>
            <p style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, sans-serif; font-size: 10pt;">The department was established in the year 2008 with an aim of developing human resources in the area of Civil Engineering. The department offers under graduate (UG) &amp; Post Graduate (PG) Programmes. There are about 8 laboratories catering to the development of Civil Engineering catering for experiments and Research. The department faculties are involved in organizing workshops/conferences for constant up gradation of skills and knowledge.</span></p>
            <p style="text-align: justify; line-height: 150%;"><span style="font-family: Arial, sans-serif; font-size: 10pt;">The department is equipped with state of art laboratory facilities in the areas of Structural Engineering, Transportation Engineering, Geotechnical Engineering, Environmental Engineering, Geology, Surveying Hydraulics and Machinery. The department has computer applications laboratory facility. The department is also equipped with library apart from a central library with several volumes and titles including journals.</span></p>
            <p style="text-align: justify; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: Arial, sans-serif;">The department has well qualified, experienced and committed faculty for teaching, research and consultancy works. Six (6) faculty members are with PhD in their fields of specialization from prestigious Institutions and 11 faculty members are pursuing PhD program in their own area of specialization. All other faculty members are post graduates in engineering or technology from reputed institutions and University Colleges.</span></p>
            <p style="text-align: justify; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: Arial, sans-serif;">The department has an ambience of&nbsp;high discipline with commitment, conducive for high academic learning and training.&nbsp; It is due to the very good academic environment and the excellent efforts of faculty and supporting staff that the students have brought laurels to the Department and Institute by securing the meritorious ranks in the university. </span></p>
            
            <p><span style="font-size: 10pt;"><strong><span style="line-height: 115%; font-family: Arial, sans-serif;">VISION </span></strong></span></p>
            <p><span style="font-size: 13.3333px; line-height: 15.3333px; font-family: Arial, sans-serif;"><span style="font-size: 10pt; line-height: 115%; font-family: arial, helvetica, sans-serif;">To nurture&nbsp;&nbsp; the&nbsp;&nbsp;&nbsp; Civil Engineering Student fraternity&nbsp; and&nbsp; focus&nbsp; in right&nbsp; areas&nbsp; so that&nbsp; we can contribute&nbsp; to the nation’s growth&nbsp; by&nbsp;&nbsp; providing&nbsp; talented and technically competent professionals while making&nbsp; the&nbsp;&nbsp; teaching - learning process an enjoyable experience.&nbsp;</span>&nbsp;</span></p>
            <p><span style="font-size: 10pt;"><strong><span style="line-height: 115%; font-family: Arial, sans-serif;">MISSION </span></strong></span></p>
            <p style="text-align: justify;"><span style="font-size: 10pt; line-height: 115%; font-family: arial, helvetica, sans-serif;">To produce an engineer who can adopt an integrated approach to various problems in Civil Engineering and judiciously use research and technology to benefit the society at large.</span></p>
            <p style="margin-left: 0.5in; text-indent: -0.25in;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><i><span style="line-height: 115%;">Mission 1: &nbsp; Adopt an integrated approach to various problems in Civil Engineering</span></i></span></p>
            <p style="margin-left: 0.25in;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><i><span style="line-height: 115%;">Mission 2: &nbsp; Judiciously use knowledge of Civil Engineering</span></i><i><span style="line-height: 115%;"></span></i></span></p>
            <p style="margin-left: 0.25in;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><i><span style="line-height: 115%;">Mission 3: &nbsp; Use latest Research and Technology</span></i></span></p>
            <p style="margin-left: 0.25in;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><i><span style="line-height: 115%;">Mission 4: &nbsp; Benefit the society&nbsp;</span></i></span><i><span style="font-size: 12pt; line-height: 115%; font-family: 'Times New Roman', serif;"></span></i></p>
            <p style="text-align: justify;"><strong style="font-size: 10pt;"><span style="line-height: 115%; font-family: Arial, sans-serif;">Program Educational Objectives (PEOs)</span></strong></p>
            <p style="text-align: justify;"><span style="font-size: 10pt; line-height: 115%; font-family: Arial, sans-serif;">Program educational objectives are broad statements that describe the career and professional accomplishments that the program is preparing the graduates to achieve. </span></p>
            <ol start="1" style="margin-top: 0in;">
            <li style="margin-bottom: 0.0001pt; text-align: justify; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: arial, helvetica, sans-serif;">A strong foundation in mathematics, basic sciences and engineering fundamentals, to successfully compete for entry-level positions or pursue postgraduate programme in Civil Engineering and related fields.</span></li>
            <li style="margin-bottom: 0.0001pt; text-align: justify; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: arial, helvetica, sans-serif;">Contemporary Civil Engineering professional skills, collection, analysis / interpretation and presentation of data, including hands-on laboratory experience, exposure to modern software, creativity, and innovation to successfully compete in the local, national and global market.</span></li>
            <li style="margin-bottom: 0.0001pt; text-align: justify; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: arial, helvetica, sans-serif;">Strong communication and interpersonal skills, broad knowledge and an understanding of multicultural and global perspectives to work effectively in multidisciplinary teams, both as team members and leaders.</span></li>
            <li style="margin-bottom: 0.0001pt; text-align: justify; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: arial, helvetica, sans-serif;">Integral development of the personality to deal with ethical and professional issues, taking into account the broader societal implications of civil engineering and also develop independent and lifelong learning.</span></li>
            </ol>
            
            </td>
            </tr>
            </tbody>
            </table>
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}