{% extends 'app/home.html' %}
{% load static %}
{% block content %}
 <div class="container ms-2 mt-1" style="width: 42rem;"> 
    <div class="">
        <div class="col"  style="color:rgb(34, 153, 34); font-size: 16px; padding-top: 0px; border: 2px solid #008080;font-family: Arial, Helvetica, sans-serif; text-align: center;">
            HMFA Memorial Institute of Engineering and Technology
        </div>
        <div class="col">
       <div style="padding: 5px 5px 5px 20px; width: 550px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; text-align: justify;"><p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;">HMFA Memorial Institute of Engineering &amp; Technology, Allahabad was established by HMFA Memorial Trust in 2008, with an objective and foresight to educate the masses in various field of technical education.</span></p>
        <p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;">The Institution is affiliated to AKTU,Lucknow (Formerly UPTU) and is approved by the AICTE, New Delhi &amp; Ministry of HRD, Govt. of India.</span></p>
        <p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;">HMFA provides an exceptionally well organized studying atmosphere adequately supported by the modern infrastructure. Students across the country and outside the country consider it to be their one – stop destination to pursue their academic agenda. This is largely due to the excellent infrastructure, committed faculty, commendable placements and productive tie – ups, making it convenient for students to choose from the wide range of courses. The different options available here are Engineering courses in Computer Science &amp; engineering, Electronics &amp; Communications Engineering, Electrical &amp; Electronics Engineering, Mechanical Engineering, Information Technology, Civil Engineering; MBA and Polytechnic. The courses are affiliated to AKTU,Lucknow (Formerly UPTU).</span></p>
        <p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;">HMFA,as its sole objective is, has designed and defined the teaching methodology to achieve excellence through quality education and is engaged in shaping the future of the world class technocrats by providing them the most advanced learning facilities.</span></p>
        </div>
        <!--  -->
        <div style="padding: 5px 5px 5px 20px; width: 550px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; text-align: justify;">
            <p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;"><b><span style="line-height: 18.4px;">Vision</span></b></span></p>
            <ul>
            <li style="text-align: justify;"><span style="font-size: 10pt; line-height: 15.3333px; font-family: 'trebuchet ms', geneva;">To contribute to the cause of education in the country by developing institutions that impart technical and management education of highest standards, producing competent and socially responsible citizens.</span></li>
            </ul>
            &nbsp;
            <p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;"><span style="line-height: 15.3333px;"></span><b><span style="line-height: 18.4px;">Mission</span></b></span></p>
            <ul>
            <li><span style="font-size: 10pt; line-height: 15.3333px; font-family: 'trebuchet ms', geneva;">To create educational institutions of higher learning which impart adequate fundamental knowledge and skills to students in a climate conducive to excellent teaching-learning process.</span></li>
            <li><span style="font-size: 10pt; line-height: 15.3333px; font-family: 'trebuchet ms', geneva;">To produce graduates that contribute to the advancement of Science and Technology in the country and make positive contribution to societal needs.</span></li>
            </ul>
            &nbsp;
            <p><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;"><b><span style="line-height: 18.4px;">Objectives</span></b></span></p>
            <ul>
            <li style="text-align: justify;"><span style="font-size: 10pt; line-height: 15.3333px; font-family: 'trebuchet ms', geneva;">To achieve excellence in imparting technical education.<br>
            To strive to inculcate a sense of integrity and a high sense of responsibility amongst students to ensure that the darkness of ignorance is illuminated by light of knowledge.</span></li>
            </ul>
            </div>
        <!--  -->
        </div>
    </div>
</div>


{% endblock content %}