{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
            
                <div style=" padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold; text-align: center;">
            <table style="border: 2px solid #008080;" border="2">
            <tbody>
            <tr>
            <td style="width:41.3rem;text-align: center;" colspan="2">
            <div><strong><span style="font-family: 'trebuchet ms', geneva;"><span style="color: #008000;"><span style="font-size: 13.3333px;">CENTRAL LIBRARY</span></span></span></strong><span style="font-weight: bold;">&nbsp;</span></div>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            
            <div style="padding-top: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #333333; font-weight: bold;"><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;"><br></span></div>
            <table style="border: 2px solid #008080;" border="2">
            <tbody>
            <tr>
            <td style="border: 1px solid #008080; " valign="top" align="left">
            <p style="text-align: -webkit-center;"><strong style="font-size: 10pt;"><strong style="font-size: 13.3333px;"><img style="vertical-align: top;" src="https://www.nicepng.com/png/detail/274-2744819_people-silhouette-avatar-business-man-icon.png" alt="" width="147" height="180"></strong></strong></p>
            </td>
            <td style="border: 1px solid #008080;width:32rem;" valign="top" align="left">
            <p><span style="text-align: justify; font-family: 'trebuchet ms', geneva; font-size: 10pt;"><strong><br></strong></span></p>
            <p>&nbsp;</p>
            <p><span style="text-align: justify; font-family: 'trebuchet ms', geneva; font-size: 10pt;"><strong>Name</strong>: Mrs.Arti Singh</span><br style="text-align: justify;"><span style="text-align: justify; font-family: 'trebuchet ms', geneva; font-size: 10pt;"><strong>Designation:</strong> Librarian&nbsp;</span><br style="text-align: justify;"><span style="text-align: justify; font-family: 'trebuchet ms', geneva; font-size: 10pt;"><strong>Qualification</strong>:B.Lib,M.lib.,M.Phil</span></p>
            <p><span style="font-family: 'trebuchet ms', geneva; font-size: 10pt;"><span style="text-align: justify;"><strong>Email</strong>:library@hmfamiet.in</span>
             </span></p>
            </td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
            <table style="border: 2px solid #008080;" border="2">
            <tbody>
            <tr>
            <td colspan="2" style="width:41.3rem;">
            <p style="text-align: center;"><strong style="color: #800080;"><span style="font-family: 'trebuchet ms', geneva; font-size: 10pt;"><br></span></strong></p>
            
            <p style="text-align: left;"><strong><span style="font-size: 10pt; font-family: 'trebuchet ms', geneva;">Working hours: 9:30 AM - 6 PM</span></strong><span style="text-align: center;">&nbsp;&nbsp;</span></p>
            <p style="margin: 0px; line-height: normal;"><strong><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">BOOKs: </span></span></strong></p>
            <p style="margin: 0px; line-height: normal;"><strong></strong>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">&nbsp; &nbsp; TITLES : &nbsp; &nbsp; 3742</span></span></p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;"><br></span></span></p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">&nbsp; &nbsp; VOLUMES : 23800</span></span></p>
            <p style="text-align: center;">&nbsp;&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><strong><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">JOURNALS:</span></span></strong></p>
            <p style="margin: 0px; line-height: normal;"><strong></strong>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">&nbsp; &nbsp; NATIONAL Journals: &nbsp;&nbsp; 53</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;">&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">&nbsp; &nbsp; Technical Magazines: 30</span></span></p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;"><br></span></span></p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;"><strong style="text-align: center; font-size: small;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS', sans-serif;">E- journals subscription</span></strong><span style="text-align: center; font-size: small; margin: 0px; color: #222222; font-family: 'Trebuchet MS', sans-serif;">&nbsp;: ASCE,ASME,IEEE,DELNET,J-GATE, INFLIBNET,IEI,&nbsp; ALL B.Tech.Courses &amp; MANAGEMENT COURSES</span></span></span></p>
            <p style="margin: 0px; line-height: normal;">&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">MULTIMEDIA STSTEMS : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 47</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">LIBRARY MANAGEMENT SOFTWARE :&nbsp; NewGenLib</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">LaserJet Printers : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 03</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">Table scanners: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 02</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">Xerox Machine: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 02</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">UPS: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 20 kv</span></span>&nbsp;</p>
            <p style="margin: 0px; line-height: normal;"><span style="margin: 0px; color: #222222; font-family: 'Trebuchet MS','sans-serif';"><span style="font-size: small;">CC Cameras : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Available</span></span><strong style="color: #800080;"><span style="font-family: 'trebuchet ms', geneva; font-size: 10pt;"><br></span></strong></p>
            <p style="text-align: center;">&nbsp;</p>
            <p><span style="font-family: 'trebuchet ms', geneva; font-size: 10pt;"><br></span></p>
            </td>
            </tr>
            </tbody>
            </table>
            
            
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}