{% extends 'app/home.html' %}
{% load static %}
{% block content %}
<div class="container ms-2 mt-1" style="width: 42rem;">
    <div class="">
        <!-- <h4>sdfgh</h4> -->
        <div id="centercontent_md">
            <!-- Slideshow -->
                
            <!-- END Slideshow -->
            <div class="clearpad">
            <div class="item-page">
            
                <h1>Managing Director (M.D.)</h1>
                <span style="font-size: 12pt; font-family: 'trebuchet ms', geneva; color: #800000;">&nbsp;Mr.Zishan Ahmad </span>
            <div><br>
            <table style="width: 600px;" border="0" cellspacing="2" cellpadding="0" align="left">
            <tbody>
            <tr>
            <td align="center"><img style="border: 1px solid #225e2a; vertical-align: middle;" src="https://hmfamiet.in/images/md.jpg" alt="" width="300" height="240"></td>
            </tr>
            </tbody>
            </table>
            </div>
            <div>&nbsp;</div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;"><br></span></div>
            <div><span style="text-align: justify;">Turning the aspirations of students into reality, we offer excellent Educational Services that incorporates intellectual learning methods and technically enriched educational environment.</span></div>
            <div style="text-align: justify;"><br style="text-align: justify;"><span style="text-align: justify;">So come and join our growing community of self-confident young scholars.</span><br style="text-align: justify;"></div>
            
            <pre style="text-align: justify;"><span style="font-family: arial, helvetica, sans-serif; font-size: 10pt;"><span style="color: #333333; line-height: 20px;"><br></span></span></pre>
            <pre style="text-align: justify;"><strong><span style="font-size: 12pt; font-family: 'trebuchet ms', geneva; color: #800000;">&nbsp;Functions:</span></strong></pre>
            <pre style="text-align: justify;"></pre>
            <ul>
            <li><span style="font-family: 'trebuchet ms', geneva;">Staff (NT) Recruitment and development</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Coordinates Purchase Process</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Coordinates publication of Colleges Annual Magazine</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Coordinates Resource Provision to all concerned</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Coordinates Preparation of Budget</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Coordinates Office Administration</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Formation of student council</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Proper conduct of co-curricular and Extra-Curricular activities</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Proper conduct of sports activities</span></li>
            <li><span style="font-family: 'trebuchet ms', geneva;">Coordinates mobilization of Resource Generation</span></li>
            </ul>
            <ul style="list-style-type: circle;">
            <li style="list-style-type: none;">
            <ul style="list-style-type: circle;">
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-family: 'trebuchet ms', geneva;">Identifying training needs of nonteaching staff</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-family: 'trebuchet ms', geneva;">Notify the non-teaching staff about various Employee Development programs</span></li>
            <li style="margin-top: 0in; margin-right: -1pt; margin-bottom: 0.0001pt; text-align: justify; line-height: normal;"><span style="font-family: 'trebuchet ms', geneva; color: #333333;">Arrange such Employee Development Programs</span></li>
            </ul>
            </li>
            </ul>
            
            
                
            </div> </div></div>
        <!--  -->
    </div>
</div>


{% endblock content %}